.container {
  display: flex;
  padding-bottom: 85px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  .header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 32px;
    gap: 24px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1240px;
    gap: 12px;
  }
}
