$font-family: 'Inter', sans-serif;

.tiny {
  font-size: 12px;
  font-family: $font-family;
}

.small {
  font-size: 14px;
  font-family: $font-family;
}

.small-medium {
  font-size: 16px;
  font-family: $font-family;
}

.medium {
  font-size: 18px;
  font-family: $font-family;
}

.medium-large {
  font-size: 20px;
  font-family: $font-family;
}

.large {
  font-size: 22px;
  font-family: $font-family;
}

.extra-large {
  font-size: 24px;
  font-family: $font-family;
  font-weight: 500;
}
