.card {
  border-radius: 15px;
  border: 2.5px solid var(--LightB, #549cde);
  background: #fff;
  align-self: stretch;
}

.cardContent {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 0;
  gap: 24px;
}

.cardFooter {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  gap: 8px;
}

.ghostButton {
  color: #4F4F4F;
}

.primaryButton {
  background-color: #549CDE;
}

.searchInput {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 4px;
  min-width: 200px;
}
