.container {
  display: flex;
  padding-bottom: 85px;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .header {
    display: flex;
    cursor: pointer;
    width: fit-content;
    padding: 32px;
    gap: 24px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1240px;
    gap: 12px;
    margin-left: auto;
    margin-right: auto;
  }
}
