.ghostButton {
  color: #4f4f4f;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.sliderHeader {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 2px;
}

.icon {
  color: #4f4f4f;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.preferenceSlider {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.preferenceSliderText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
